.column {
  float: left; }
  .column + .column {
    margin-left: 10px; }

.col-1 {
  width: 30px; }

.col-2 {
  width: 70px; }

.col-3 {
  width: 110px; }

.col-4 {
  width: 150px;
  margin-right: 0; }

.append-1 {
  padding-right: 40px; }

.prepend-1 {
  padding-left: 40px; }

.append-2 {
  padding-right: 80px; }

.prepend-2 {
  padding-left: 80px; }

.append-3 {
  padding-right: 120px; }

.prepend-3 {
  padding-left: 120px; }
