$sansFontFamilyHelvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sansFontFamilyLucida: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
$sansFontFamilyVerdana: Verdana, Geneva, sans-serif;
$sansFontFamily: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$serifFontFamily: Georgia, Cambria, 'Times New Roman', Times, serif;
$monoFontFamily: Monaco, Menlo, Consolas, 'Courier New', monospace;